# Scripts for cleaning data in Pandas


## Regular Expressions

What are "regular expressions"? Regular expressions (or regex) are a pattern-matching technique that can be useful for data cleaning.

Regular expressions follow a similar structure, though there may be slightly differen implementation when you're using regex in bash, versus in Python (which uses a special library called `re` to handle regular expressions), versus in OpenRefine (which uses General Regular Expression Language).

For more on Python's regex, see this W3 schools [tutorial on the Python Regex used in the `re` library](https://www.w3schools.com/python/python_regex.asp).

## Regular Expressions tutorial

Doug Knox has an excellent introductory tutorial, ["Understanding Regular Expressions"](https://programminghistorian.org/en/lessons/understanding-regular-expressions) that I recommend you all check out

## Example: Using regular expressions to extract the release

### Import our libraries

In [2]:
# Import both Pandas and regex, the Python library built to handle regular expressions.
import pandas as pd
import re

Let's say we want to extract dates from a set of data. Let's first create a dumby dataset of movie titles, in the form we might have collected them:

### Add a demo dataset of film titles and dates

In [57]:
# Make a demo dictionary array of movie data

movie_dictionary = {'movie_title':['The Truman Show (1998)', 'King Kong (1930)', '28 Days Later (2002)', 'Blade Runner 2049 (2017)']}

# Turn that array into a pandas dataframe
movie_data_df = pd.DataFrame(movie_dictionary)

In [58]:
movie_data_df

                movie_title
0    The Truman Show (1998)
1          King Kong (1930)
2      28 Days Later (2002)
3  Blade Runner 2049 (2017)

## How would we extract date from this column?

### Method 1:  Extract all 4-digit numbers in parentheses 

Extract dates (which appear to all be marked by the year, a four-digit number) in parentheses from  our column "movie_title" and send the result to a new column called "date"

To do this, we construct a regular expression, `r`, followed by quote marks ' ' around the regular expression for the pattern we want to match:

`r'\((\d{4})\)$'`

In [59]:
# Description of our regex formula:

# \(       # Match the character “(” --the opening parentheses,
# (        # Match the regular expression enclosed by parenthese follow (note the difference )
#   \d       # Match a single digit between 0 and 9
#      {4}      # Exactly 4 times
# )
# \)       # Match the character “)” --the closing parentheses––literally
# $        # Assert position at the end of a line (at the end of the string or before a line break character)

movie_data_df['release_date'] = movie_data_df.movie_title.str.extract(r'\((\d{4})\)$')

In [60]:
movie_data_df

                movie_title release_date
0    The Truman Show (1998)         1998
1          King Kong (1930)         1930
2      28 Days Later (2002)         2002
3  Blade Runner 2049 (2017)         2017

### Method 2: (INCORRECT) Extract only all 4-digit numbers 
Why did we need those parentheses?

Let's try the same expression, a little simpler: let's use a regular exprssion to match just the four digits:

In [61]:
# Creat an alternet 
movie_data_alternate_df = pd.DataFrame(movie_dictionary)

In [55]:

movie_data_alternate_df['release_date'] = movie_data_alternate_df.movie_title.str.extract(r'(\d{4})')

In [56]:
movie_data_alternate_df

                movie_title  date
0    The Truman Show (1998)  1998
1          King Kong (1930)  1930
2      28 Days Later (2002)  2002
3  Blade Runner 2049 (2017)  2049

❌ What's wrong with the above? Our regex picked up on the date that appears in the title of Denis Villeneuve's *Blade Runner 2049*, because it matched the pattern for release dates (the four digits of a year).